@import url('https://fonts.googleapis.com/css2?family=Georama&family=Lato&display=swap');

* {
  box-sizing: border-box;
}

#about {
  background-color: #993399;
}

body {
  background-attachment: fixed;
  background-image: url('images/background.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#contact {
  background-color: #FF8C00;
}

.contact-button {
  background-color: #fff;
  border: none;
  color: #000;
  margin: 10px 10px 0 0;
  padding: 5px 15px;
  transition: all 150ms ease;
}

.contact-button:hover {
  color: #FF8C00;
  cursor: pointer;
}

.contact-input {
  background-color: #fff;
  border: solid 2px #fff;
  color: #000;
  margin: 0 10px 10px 0;
  outline: none;
  padding: 10px 5px;
  width: 100%;
  transition: all 150ms ease;
}

.contact-input:focus, .contact-textarea:focus {
  border-color: #FF8C00;
}

.contact-input-box {
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  padding: 10px;
  width: 70%;
}

.contact-input-box div:nth-child(2){
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.contact-input-box div:nth-child(2) a{
  color: #FF8C00;
  transition: color 150ms ease;
}

.contact-input-box div:nth-child(2) a:hover{
  color: #fff;
  text-decoration: underline;
}

.contact-textarea {
  background-color: #fff;
  border: solid 2px #fff;
  color: #000;
  height: 200px;
  outline: none;
  padding: 10px 5px;
  width: 100%;
  transition: all 150ms ease;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 50px auto;
  padding: 15px 20px;
  width: 70%;
}

.estimates-banner {
  /* background-color: rgba(0, 0, 0, 0.8); */
  border-top: solid 1px #fff;
  margin: 10px auto;
  padding: 5px;
  position: relative;
  width: 500px;
}

.estimates-banner h1 {
  text-align: center;
  color: rgba(255, 102, 204, 1);
  font-size: 25px;
  text-shadow: -1px 0 0 #000,
    0 -1px 0 #000,
    1px 0 0 #000,
    0 1px 0 #000,
    0 2px 2px #000;
  transition: color 150ms ease;
}

.estimates-banner h1:hover, .estimates-banner h3:hover {
  color: #fff;
  cursor: pointer;
}

.estimates-banner h3 {
  text-align: center;
  color: rgba(255, 102, 204, 1);
  text-shadow: -1px 0 0 #000,
    0 -1px 0 #000,
    1px 0 0 #000,
    0 1px 0 #000,
    0 2px 2px #000;
  font-size: 20px;
  transition: color 150ms ease;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  color: #fff;
  font-size: 15px;
  padding: 10px 0;
  text-align: center;
  text-shadow: 0 2px 2px #000;
  width: 100%;
}

footer p a {
  color: #FF8C00;
  transition: color 150ms ease;
}

footer p a:hover {
  color: #fff;
}

#gallery {
  background-color: #f44336;
}

.gallery-caption {
  bottom: 5px;
  color: #FF8C00;
  font-size: 16px;
  position: absolute;
  left: 5px;
}

.gallery-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 10px auto;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 70%;
}

.gallery-container div {
  margin: 5px;
  width: 375px;
}

.gallery-container img {
  width: 100%;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  text-align: center;
  text-shadow: 0 2px 2px #000;
  margin-bottom: 20px;
  position: relative;
  font-family: 'Georama', sans-serif;
  height: auto;
}

header h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 0;
  text-shadow: -1px 0 0 #000,
    0 -1px 0 #000,
    1px 0 0 #000,
    0 1px 0 #000,
    0 2px 2px #000;
}

header h2 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  margin-bottom: 0;
  text-shadow: -1px 0 0 #000,
    0 -1px 0 #000,
    1px 0 0 #000,
    0 1px 0 #000,
    0 2px 2px #000;
}

header h5 {
  font-size: 30px;
  font-style: italic;
  color: #FF8C00;
  margin-bottom: 0;
  text-shadow: -1px 0 0 #000,
    0 -1px 0 #000,
    1px 0 0 #000,
    0 1px 0 #000,
    0 2px 2px #000;
}

.header-photo {
  box-shadow: 0 0 10px #000;
  width: 300px;
  position: absolute;
  left: 10px;
  transform: translateY(-50%);
  top: 50%;
}

#home {
  top: 80px;
  background-color: #4CAF50;
}

#italic {
  font-style: italic;
  color: #FF8C00
}

li {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

.main {
  height: 100%;
  position: relative;
}

.main p {
  font-size: 22px;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.main a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Georama', sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -125px;
  z-index: 1;
}

.nav a {
  box-shadow: 0 0 10px #000;
  color: #fff;
  transition: all 250ms ease;
  padding: 5px 15px 5px 0;
  margin: 15px 0 0 0;
  width: 175px;
  text-align: left;
  text-decoration: none;
  text-shadow: 0 2px 2px #000;
  font-size: 30px;
  border-radius: 0 5px 5px 0;
}

.nav a:hover {
  text-align: right;
  width: 250px;
}

ol, ul {
  counter-reset: li;
  /* Initiate a counter */
  list-style-type: none;
}

ul li::before {
  content: '\2022 ';
  color: #FF0000;
}

ol li::before {
  color: #FF0000;
  content: counter(li)'. ';
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
}

.poolTipLinks {
  color: rgba(0, 153, 255, 1);
}

#red {
  color: #FF0000;
}

#services {
  background-color: rgba(0, 153, 255, 1);
}

.services {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 20px auto;
  padding: 20px;
  width: 70%;
}

.services div {
  background-color: #fff;
  width: 300px;
}

.services img {
  width: 100%;
}

.services h3 {
  color: #FF8C00;
  padding-left: 5px;
  text-shadow: 0 1px 1px #000;
}

.services p {
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 10px 5px;
}

#signature {
  font-style: italic;
  color: #FF8C00;
}

table {
  border-collapse: collapse;
  margin: 20px auto 0 auto;
  text-align: center;
  width: 70%;
}

td {
  padding: 10px 0;
}

.text {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 153, 255, 1);
  margin: 20px auto;
  padding: 15px 20px;
  width: 70%;
}

.textSize {
  font-size: 1.25em;
}

#tips {
  background-color: #555;
}

tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 20px;
  font-style: italic;
}

tr:nth-of-type(odd) {
  background-color: #FF8C00;
  color: #000;
  font-size: 22px;
}

@media (max-width:1350px) {
  .container, .contact-input-box {
    width: 80%;
  }

  header h1 {
    color: #fff;
    font-size: 35px;
  }

  header h2 {
    font-size: 30px;
    margin-top: 10px;
  }

  header h5 {
    font-size: 25px;
    margin-top: 10px;
  }

  .header-photo {
    width: 250px;
  }

  .main p {
    font-size: 20px;
  }

  .nav {
    top: 45%;
  }

  .nav a {
    font-size: 25px;
  }

  .nav a:hover {
    width: 235px;
  }

  .services div:nth-child(2) {
    order: 3;
  }

  table {
    width: 80%;
  }

  tr:nth-of-type(even) {
    font-size: 18px;
  }

  tr:nth-of-type(odd) {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .estimates-banner h1, .estimates-banner h3 {
    font-size: 18px;
  }

  .floatRight img {
    width: 50px;
  }

  .contact-input-box {
    grid-template-columns: auto;
    width: 85%;
  }

  .gallery-container {
    width: 85%;
  }

  .gallery-container div {
    width: 325px;
  }

  header h1 {
    font-size: 25px;
  }

  header h2 {
    font-size: 22px;
    margin-top: 5px;
  }

  header h5 {
    font-size: 20px;
    margin-top: 5px;
  }

  .main p {
    font-size: 18px;
    width: 85%;
  }

  .nav {
    top: 40%;
  }

  .nav a {
    font-size: 22px;
  }

  .nav a:hover {
    width: 225px;
  }

  li {
    font-size: 18px;
  }

  .header-photo {
    width: 175px;
  }

  .services {
    width: 85%;
  }

  .services h3 {
    font-size: 22px;
  }

  .services span {
    font-size: 18px;
  }

  table {
    width: 85%;
  }

  tr:nth-of-type(even) {
    font-size: 16px;
  }

  tr:nth-of-type(odd) {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .container {
    margin: 20px auto 20px auto;
    width: 95%;
  }

  .contact-input-box {
    width: 95%;
  }

  .estimates-banner {
    box-shadow: none;
    width: 95%;
  }

  .gallery-caption {
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .gallery-container {
    width: 95%;
  }

  header {
    margin-bottom: 10px;
  }

  header h1 {
    font-size: 25px;
  }

  header h2 {
    font-size: 20px;
  }

  header h5 {
    font-size: 18px;
  }

  .header-photo {
    display: none;
  }

  .main p {
    width: 95%;
  }

  .nav {
    position: relative;
    flex-direction: row;
    justify-content: center;
    top: 0;
    flex-wrap: wrap;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
  }

  .nav a {
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 10px #000;
    padding: 2px 12px;
    margin: 10px 5px 0 5px;
    width: auto;
  }

  .nav a:hover {
    color: #000;
    text-shadow: none;
    width: auto;
  }

  ol, ul {
    padding-left: 5px;
  }

  .services {
    width: 95%;
  }

  table {
    width: 95%;
  }

  tr:nth-of-type(even) {
    font-size: 14px;
  }

  tr:nth-of-type(odd) {
    font-size: 16px;
  }
}

@media(max-width: 400px) {
  .contact-input-box {
    width: 100%;
  }

  .container {
    margin: 20px 0 0 0;
    padding: 10px 5px;
    width: 100%;
  }

  .estimates-banner {
    border-top: none;
    margin: 0;
    width: 100%;
  }

  .gallery-container {
    padding: 20px 0;
    width: 100%;
  }

  .gallery-container div {
    margin: 5px 0;
    width: 100%;
  }

  header h1 {
    font-size: 20px;
  }

  header h2 {
    font-size: 18px;
  }

  header h5 {
    font-size: 16px;
  }

  li {
    font-size: 16px;
  }

  .main p {
    font-size: 16px;
    width: 100%;
  }

  .services {
    padding: 20px 0;
    width: 100%;
  }

  .services div {
    width: 100%;
  }

  table {
    width: 100%;
  }
}
