#about {
  background-color: #993399;
}

.about-photo-container {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  background-color: #000;
  border-radius: 50%;
  border: solid 1px #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  position: relative;
  width: 400px;
}

.about-photo-container img {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 250px;
}

.about-photo-signature {
  font-size: 22px;
}

.about-photo-title {
  color: #f44336;
  font-size: 20px;
}

.about-signature-container {
  -webkit-box-shadow: 0 0 10px #000;
  background-color: #000;
  border-radius: 5px;
  border: solid 1px #fff;
  bottom: -15px;
  box-shadow: 0 0 10px #000;
  padding: 2px 10px;
  position: absolute;
  right: 5px;
}

body {
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      from(rgba(0, 0, 0, 0.85)),
      to(rgba(0, 0, 0, 0.75))),
    url("../images/background.jpg");
  background-attachment: fixed;
  background-image: linear-gradient(90deg,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.75)),
    url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-color: #000;
  font-family: "Lato", sans-serif;
}

#contact {
  background-color: #ff8c00;
}

.contact-button {
  -o-transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  background-color: #fff;
  border: none;
  color: #000;
  margin: 10px 10px 0 0;
  padding: 5px 15px;
  transition: all 150ms ease;
}

.contact-button:hover {
  color: #ff8c00;
  cursor: pointer;
}

.contact-input {
  -o-transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  background-color: #fff;
  border: solid 2px #fff;
  color: #000;
  margin: 0 10px 10px 0;
  outline: none;
  padding: 10px 5px;
  transition: all 150ms ease;
  width: 100%;
}

.contact-input:focus,
.contact-textarea:focus {
  border-color: #ff8c00;
}

.contact-input-box {
  background-color: rgba(0, 0, 0, 0.8);
  display: -ms-grid;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  padding: 10px;
  width: 70%;
}

.contact-input-box div:nth-child(2) {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-input-box div:nth-child(2) a {
  -o-transition: color 150ms ease;
  -webkit-transition: color 150ms ease;
  color: #ff8c00;
  transition: color 150ms ease;
}

.contact-input-box div:nth-child(2) a:hover {
  color: #fff;
  text-decoration: underline;
}

.contact-textarea {
  -o-transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  background-color: #fff;
  border: solid 2px #fff;
  color: #000;
  height: 200px;
  outline: none;
  padding: 10px 5px;
  transition: all 150ms ease;
  width: 100%;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 50px auto;
  padding: 15px 20px;
  width: 70%;
  /* outline: solid 1px blue; */
}

.estimates-banner {
  border-top: solid 1px #fff;
  margin: 10px auto;
  padding: 5px;
  position: relative;
  width: 500px;
  /* outline: solid 1px blue; */
}

.estimates-banner h1 {
  color: #f44336;
  font-size: 25px;
  text-align: center;
}

.estimates-banner h3 {
  color: #f44336;
  font-size: 20px;
  text-align: center;
}

footer {
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 1)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  text-shadow: 0 2px 2px #000;
  width: 100%;
  /* outline: solid 1px blue; */
}

.footer-logo {
  bottom: 10px;
  left: 10px;
  position: absolute;
  width: 50px;
}

footer p a {
  -o-transition: color 150ms ease;
  -webkit-transition: color 150ms ease;
  color: #ff8c00;
  transition: color 150ms ease;
}

footer p a:hover {
  color: #fff;
}

#gallery {
  background-color: #f44336;
}

.gallery-caption {
  bottom: 5px;
  color: #ff8c00;
  font-size: 16px;
  left: 5px;
  position: absolute;
}

.gallery-container {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 10px auto;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 70%;
}

.gallery-container div {
  border-top: solid 1px #f44336;
  margin: 5px;
  width: 375px;
}

.gallery-container img {
  width: 100%;
}

header {
  background: -o-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  font-family: "Georama", sans-serif;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 5px;
  position: relative;
  text-align: center;
  text-shadow: 0 2px 2px #000;
  /* outline: solid 1px blue; */
}

header h1 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  text-shadow: -1px 0 0 #000, 0 -1px 0 #000, 1px 0 0 #000, 0 1px 0 #000,
    0 2px 2px #000;
}

header h2 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 0;
  text-align: center;
  text-shadow: -1px 0 0 #000, 0 -1px 0 #000, 1px 0 0 #000, 0 1px 0 #000,
    0 2px 2px #000;
}

header h5 {
  color: #ff8c00;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 0;
  text-shadow: -1px 0 0 #000, 0 -1px 0 #000, 1px 0 0 #000, 0 1px 0 #000,
    0 2px 2px #000;
}

.header-photo {
  -ms-transform: translateY(-50%);
  -webkit-box-shadow: 0 0 10px #000;
  -webkit-transform: translateY(-50%);
  box-shadow: 0 0 10px #000;
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
}

#home {
  background-color: #4caf50;
  top: 80px;
}

#italic {
  color: #ff8c00;
  font-style: italic;
}

li {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

main {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: space-evenly;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: space-evenly;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100%;
  position: relative;
}

.main p {
  color: #fff;
  font-size: 22px;
  margin: 25px auto 0 auto;
  padding: 5px;
  text-align: center;
}

.main a {
  text-decoration: none;
}

.nav {
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  font-family: "Georama", sans-serif;
  justify-content: center;
  left: -125px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.nav a {
  -o-transition: all 250ms ease;
  -webkit-box-shadow: 0 0 10px #000;
  -webkit-transition: all 250ms ease;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 10px #000;
  color: #fff;
  font-size: 30px;
  margin: 15px 0 0 0;
  padding: 5px 15px 5px 0;
  text-align: left;
  text-decoration: none;
  text-shadow: 0 2px 2px #000;
  transition: all 250ms ease;
  width: 175px;
}

.nav a:hover {
  text-align: right;
  width: 250px;
}

ol,
ul {
  /* Initiate a counter with counter-reset */
  counter-reset: li;
  list-style-type: none;
}

ul li::before {
  color: #f44336;
  content: "\2022 ";
}

ol li::before {
  /* Increment the counter by 1 for each li element */
  /* Use the counter as content */
  color: #f44336;
  content: counter(li) ". ";
  counter-increment: li;
}

.poolTipLinks {
  color: rgba(0, 153, 255, 1);
}

#red {
  color: #f44336;
}

#services {
  background-color: rgba(0, 153, 255, 1);
}

.services {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 50px auto;
  padding: 20px;
  width: 70%;
}

.services div {
  background-color: #fff;
  margin: 5px 0;
  width: 300px;
}

.services img {
  width: 100%;
}

.services h3 {
  color: #ff8c00;
  padding-left: 5px;
  text-align: center;
  text-shadow: 0 1px 1px #000;
}

.services p {
  /* border-bottom: solid 1px #000; */
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 10px 5px;
  /* outline: solid 1px blue; */
}

#signature {
  color: #ff8c00;
  font-style: italic;
  text-shadow: 0 2px 2px #000;
}

table {
  border-collapse: collapse;
  margin: 20px auto 0 auto;
  text-align: center;
  width: 70%;
}

td {
  padding: 10px 0;
}

.text {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 153, 255, 1);
  margin: 20px auto;
  padding: 15px 20px;
  width: 70%;
}

#tips {
  background-color: #555;
}

tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 20px;
  font-style: italic;
}

tr:nth-of-type(odd) {
  background-color: #ff8c00;
  color: #000;
  font-size: 22px;
}

@media (max-width: 1300px) {
  .about-photo-container {
    width: 350px;
  }

  .about-photo-container img {
    width: 200px;
  }

  .about-photo-signature {
    font-size: 20px;
  }

  .about-photo-title {
    font-size: 18px;
  }

  .container,
  .contact-input-box {
    width: 80%;
  }

  header h1 {
    color: #fff;
    font-size: 35px;
  }

  header h2 {
    font-size: 30px;
    margin-top: 10px;
  }

  header h5 {
    font-size: 25px;
    margin-top: 10px;
  }

  .header-photo {
    width: 250px;
  }

  .main p {
    font-size: 20px;
  }

  .nav a {
    font-size: 25px;
  }

  .nav a:hover {
    width: 235px;
  }

  .services p {
    font-size: 16px;
  }

  table {
    width: 80%;
  }

  tr:nth-of-type(even) {
    font-size: 18px;
  }

  tr:nth-of-type(odd) {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .about-photo-container {
    margin: 10px auto;
    padding: 10px;
    width: 300px;
  }

  .about-photo-container img {
    width: 150px;
  }

  .about-photo-signature {
    font-size: 18px;
  }

  .about-photo-title {
    font-size: 16px;
  }

  .contact-input-box {
    grid-template-columns: auto;
    width: 85%;
  }

  .estimates-banner h1,
  .estimates-banner h3 {
    font-size: 18px;
  }

  .floatRight img {
    width: 50px;
  }

  .gallery-container {
    width: 85%;
  }

  .gallery-container div {
    width: 325px;
  }

  header h1 {
    font-size: 25px;
  }

  header h2 {
    font-size: 22px;
    margin-top: 5px;
  }

  header h5 {
    font-size: 20px;
    margin-top: 5px;
  }

  .header-photo {
    width: 175px;
  }

  li {
    font-size: 18px;
  }

  .main p {
    font-size: 18px;
    width: 85%;
  }

  .nav a {
    font-size: 22px;
  }

  .nav a:hover {
    width: 225px;
  }

  .services {
    margin: 0 auto 25px auto;
    width: 85%;
  }

  .services h3 {
    font-size: 22px;
  }

  .services p {
    font-size: 16px;
    width: 100%;
  }

  .services span {
    font-size: 18px;
  }

  table {
    width: 85%;
  }

  tr:nth-of-type(even) {
    font-size: 16px;
  }

  tr:nth-of-type(odd) {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .about-photo-container {
    padding: 5px;
    width: 250px;
  }

  .about-photo-container img {
    width: 150px;
  }

  .about-photo-signature {
    font-size: 16px;
  }

  .about-signature-container {
    bottom: -10px;
  }

  .container {
    margin: 20px auto 20px auto;
    width: 95%;
  }

  .contact-input-box {
    width: 95%;
  }

  .estimates-banner {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 95%;
  }

  .gallery-caption {
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    /* font-size: 14px; */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .gallery-container {
    width: 95%;
  }

  header {
    margin-bottom: 10px;
  }

  header h1 {
    font-size: 25px;
  }

  header h2 {
    font-size: 20px;
  }

  header h5 {
    font-size: 18px;
  }

  .header-photo {
    display: none;
  }

  .main p {
    margin: 10px auto 0 auto;
    width: 95%;
  }

  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    left: 50%;
    position: relative;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
  }

  .nav a {
    -webkit-box-shadow: 0 2px 5px #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
    font-size: 20px;
    margin: 10px 5px 0 5px;
    padding: 5px 15px;
    text-align: center;
    width: auto;
  }

  .nav a:hover {
    color: #000;
    text-shadow: none;
    width: auto;
  }

  ol,
  ul {
    padding-left: 5px;
  }

  .services {
    width: 95%;
  }

  .services p {
    width: 100%;
  }

  table {
    width: 95%;
  }

  tr:nth-of-type(odd) {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .contact-input-box {
    width: 100%;
  }

  .container {
    margin: 20px 0 0 0;
    padding: 10px 5px;
    width: 100%;
  }

  .estimates-banner {
    border-top: none;
    margin: 0;
    width: 100%;
  }

  .gallery-container {
    padding: 20px 0;
    width: 100%;
  }

  .gallery-container div {
    margin: 5px 0;
    width: 100%;
  }

  header h1 {
    font-size: 20px;
  }

  header h2 {
    font-size: 18px;
  }

  header h5 {
    font-size: 18px;
  }

  li {
    font-size: 16px;
  }

  .main p {
    font-size: 18px;
    width: 100%;
  }

  .services {
    margin: 0;
    padding: 20px 0;
    width: 100%;
  }

  .services div {
    width: 100%;
  }

  table {
    width: 100%;
  }
}